@use "../../base/image-func";

.relative {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  //grid-template-rows: auto;

  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 22px;

  &__item {
    flex-basis: 31%;
    border: 1px solid #EAECF0;

    @media (max-width: 756px) {
      flex-basis: 48%;
    }

    @media (max-width: 680px) {
      flex-basis: 100%;
    }

  }

  &__link {
    color: inherit;
    text-decoration: none;
    white-space: unset;

    >.image-func {
      margin: -1px;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    padding: 32px 24px;
  }

  &__image {
    @include image-func.sizeImage(32px, 32px);
    margin-right: 12px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

}